
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.admin-login-form{
    margin-top: 18%;
    background-color: whitesmoke;
    border-radius: 3px;
}

.login-input-container{
    padding-top: 10px;
}

.login-submit-button{
    margin-left: 30%;
}

.input-field > input.input-error{
    border-color: red;
}

.admin-page-nav{
    background-color: whitesmoke !important;
    width: 250px !important;
}

.admin-page-main-section{
    padding: 4px;
}

.userView{
   background-image: url("/img/admin-nav-bg.png");
}

#admin-avatar{
    margin-left: 33% !important;
}

.toast{
    background-color: lightgreen !important;
}

.validation-errors ul li{
    color: red;
    list-style: circle;
    margin-bottom: 4px;
    font-size: large;
}

.news-date-added{
    height: 35px;
    line-height: 35px;
}

.nav-wrapper .container ul {
    height: 100%;
}

.sortable-pages td:hover {
    cursor: move;
}

@media screen and (min-width: 993px) {
    main {
        padding-left: 230px;
    }
}

#logo-container {
    max-width: 60%;
    max-height:60%;
    margin-top: 2px;
}

nav > div > ul > li > a{
    color: dimgrey !important;
}

#header-menu-dropdown {
    width: 140px !important;
}

#top-header-menu-languages-dropdown > li > a > img {
    width: 16px !important;
    height: 16px !important;
}

#top-header-menu-languages-dropdown-m > li > a > img {
    width: 30px !important;
    height: 30px !important;
}

#top-header-menu-languages-dropdown {
    width: 120px !important;
}

#language-selector > div > img {
    width: 32px !important;
    height: 32px !important;
}

.main-page-big-container {
    background-image: url("/img/driver2-1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}


@media screen and (max-width: 487px) {
    .main-page-big-container {
        background-size: 100% 100%;
    }
}

#language-selector-list-item{
    border-left: 1px dashed lightgrey;
}

.arrow_box {
    position: relative;
    background: #03a9f4;
    border: 1px solid #c2e1f5;
    border-radius: 6px;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 39%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(7, 117, 227, 0);
    border-bottom-color: #03a9f4;
    border-width: 30px;
    margin-left: -30px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 32px;
    margin-left: -32px;
}

#category-title {
    display: block;
    border-bottom: 1px dotted lightgrey;
    margin-bottom: -10px;
    padding-bottom: 3px;
}

.categories-list {
    border: none !important;
}

.categories-list > a {
    border-bottom: 1px dotted !important;
    border-left: 1px solid lightgrey;
    border-top: 1px dotted lightgrey;
    color: dimgrey !important;
}

.lecturers-list a.collection-item {
    padding: 0;
    color: inherit !important;
}

.lecturers-list > a > li:hover{
    background-color: #ddd !important;
    cursor: pointer;
}

.teacher-photo:hover{
    cursor: pointer;
}

#feedback-list {
    margin-left: 12px;
}

.feedback-firstname {
    border-bottom: 1px dotted lightgrey;
    padding-right: 3px;
}

.feedback-date {
    padding-left: 3px;
    border-bottom: 1px dotted lightgrey
}


#footer-contacts-form{
    border-right: 1px dotted lightgrey;
    border-left: 1px dotted lightgrey;
}

.poll-answers-list {
    width: 100px;
}

.poll-container {
    width: 100%;

    display: inline-block;
}

.poll-container > .question-text {
    border-top: none !important;
    border-bottom:  1px dotted lightgrey !important;
}

.poll-container {
    border-right: none !important;
}

.poll-answer:hover {
    background-color: #f5f5f5 !important;
    cursor: pointer;
    display: inline-block;
}

.poll-answer > input[type="radio"]:not(:checked) + label:before,
.poll-answer > input[type="radio"]:not(:checked) + label:after {
    border: 1px solid #0d47a1;
}


.poll-answer > input[type="radio"]:checked + label:after,
.poll-answer > input[type="radio"].with-gap:checked + label:before,
.poll-answer > input[type="radio"].with-gap:checked + label:after {
    border: 1px solid #26a69a !important;
}

.poll-answer > input[type="radio"]:checked + label:after,
.poll-answer > input[type="radio"].with-gap:checked + label:after {
    background-color: #64b5f6;
    z-index: 0;
}

.poll-answer > input[type="radio"]:checked + label:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(66, 165, 245, 0.7);
}


.capbox {
    display: inline-block;
    padding: 8px 40px 8px 8px;
}

.capbox-inner {
    font: bold 11px arial, sans-serif;
    color: #000000;
    margin: -5px auto 0px auto;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#CaptchaDiv {
    font: bold 17px verdana, arial, sans-serif;
    font-style: italic;
    color: #000000;
    background-color: #FFFFFF;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }
