
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.admin-login-form{
    margin-top: 18%;
    background-color: whitesmoke;
    border-radius: 3px;
}

.login-input-container{
    padding-top: 10px;
}

.login-submit-button{
    margin-left: 30%;
}

.input-field > input.input-error{
    border-color: red;
}

.admin-page-nav{
    background-color: whitesmoke !important;
    width: 250px !important;
}

.admin-page-main-section{
    padding: 4px;
}

.userView{
   background-image: url("/img/admin-nav-bg.png");
}

#admin-avatar{
    margin-left: 33% !important;
}

.toast{
    background-color: lightgreen !important;
}

.validation-errors ul li{
    color: red;
    list-style: circle;
    margin-bottom: 4px;
    font-size: large;
}

.news-date-added{
    height: 35px;
    line-height: 35px;
}

.top-page-navigation{
    min-height: 90px;
}

.nav-wrapper .container ul {
    height: 100%;
}

.sortable-pages td:hover {
    cursor: move;
}


